<form [formGroup]="form" (submit)="onSearchMovie()">
  <div>
    <label for="search">
      Search:
    </label>
      <input type="text"
             formControlName="title"
             id="search"
             (keyup.enter)="onSearchMovie()"
      >

    <button type="reset" (click)="onResetForm()">
      <i class="fa fa-times-circle"></i>
    </button>
  </div>
  <div class="error length-error" *ngIf="form.get('title').hasError('minlength')">
    Minimum length is three characters
  </div>
</form>
