@import "../../../assets/scss/base/base";

:host {
  flex: 25%;
  max-width: 25%;

  @include respond(medium-desktop) {
    flex: 33%;
    max-width: 33%;
  }

  @include respond(tab-port) {
    flex: 50%;
    max-width: 50%;
  }

  @include respond(small-phone) {
    flex: 100%;
    max-width: 100%;
  }

  padding: 0 .5rem;
  .movie {

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    &--img {
      img {
        width: 100%;
      }
    }

    &--title {
      font-size: 2rem;
      padding: 1rem 0;
    }

    &--title,  &--genres, &--release-date {
      @include  textOverflow;
    }

    &--genres, &--release-date {
      font-size: 1.5rem;
    }

    &--release-date {
      margin-bottom: 1rem;
    }
  }
}
