<div class="movie movie--container">
  <a [routerLink]="['details', movie.media_type, movie.id]">
    <div class="movie--img img__holder">
      <img
        src="{{movie.poster_path}}"
        alt="poster"
        title="movie poster"
      >
    </div>
    <div class="movie--title" title="{{movie.title}}">
      {{movie.title}}
    </div>
  </a>
  <div class="movie--genres" title="{{movie.genres}}">
    {{movie.genres}}
  </div>
  <div class="movie--release-date" title="{{movie.release_date}}">
    {{movie.release_date | date}}
  </div>
</div>

