<div class="movie movie--container">
  <a [routerLink]="['details', movie.type, movie.id]">
    <div class="movie--img img__holder">
      <img
        src="{{movie.poster_path}}"
        alt="poster"
        title="movie poster"
      >
    </div>
    <div appTextColor class="movie--title" title="{{movie.title | customPipe }}">
      {{movie.title | customPipe}}
    </div>
  </a>
  <div class="movie--genres" title="{{movie.genres| customPipe}}">
    {{movie.genres| customPipe}}
  </div>
  <div class="movie--release-date" title="{{movie.release_date | customPipe}}">
    {{movie.release_date | date}}
  </div>
</div>

